
<section class="portfolio">
  <div class="container project project1">

      <div class="row">
        <div class="image col-md-12 img-responsive">
            <div class="screenshot">
              <img src="<%= asset_path 'mario.png'%>" class="img-responsive">
            </div>
        </div>
      </div>

      <div class="row">
          <div class="col-md-12">
            <div class="screenshot-info">
            <p>TITLE</p>
            <p>THIS IS SOME TEXT</p>
            </div>
        </div>
    </div>
  </div>

  <div class="container project">

      <div class="row">
        <div class="image col-md-12 img-responsive">
            <div class="screenshot">
              <img src="<%= asset_path 'faces.png'%>" class="img-responsive">
            </div>
        </div>
      </div>

      <div class="row">
          <div class="col-md-12">
            <div class="screenshot-info">
            <p>TITLE</p>
            <p>THIS IS SOME TEXT</p>
            </div>
        </div>
    </div>
  </div>

  <div class="container project">

      <div class="row">
        <div class="image col-md-12 img-responsive">
            <div class="screenshot">
              <img src="<%= asset_path 'Comet.png'%>" class="img-responsive">
            </div>
        </div>
      </div>

      <div class="row">
          <div class="col-md-12">
            <div class="screenshot-info">
            <p>TITLE</p>
            <p>THIS IS SOME TEXT</p>
            </div>
        </div>
    </div>
  </div>

  <div class="container project">

      <div class="row">
        <div class="image col-md-12 img-responsive">
            <div class="screenshot">
              <img src="<%= asset_path 'smoke.jpg'%>" class="img-responsive">
            </div>
        </div>
      </div>

      <div class="row">
          <div class="col-md-12">
            <div class="screenshot-info">
            <p>TITLE</p>
            <p>THIS IS SOME TEXT</p>
            </div>
        </div>
    </div>
  </div>

</section>
