// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#portfolio, #webdesign{
  margin: 30px auto 30px auto;
}

#portfolio{
  padding-bottom: 200px;
}

.project{
  height: 100%;
  width: 70% !important;
  background-color: #fff;
  border-radius: 10px;
  margin: 40px auto;
  overflow: hidden;
}

//
.image{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.project{
  -webkit-box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.75);
}

.screeshot{
  width: auto;
}

.screenshot img{
  margin: 30px 0 0 0;
}

.screenshot-info{
  margin-top: 30px;
}

/* ================================================= */
/* ABOUT HTML */
#skills{
  margin: 30px auto 30px auto;
}

#skills{
  padding-bottom: 200px;
}

.grid-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  width: 70% !important;
}

.skill-grid{
  display: flex;
  margin: 1%;
  width: 30%;
  float:left;
  position: relative;
  overflow:hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skill-grid:before{
  content: "";
  display: block;
  padding-bottom: 100%;
}

.skill-grid img{
  height: 100%;
  max-height: 200px;
  max-width: 100px;
  width: 100%;
  margin: auto;
}

@media (max-width:667px) {
  .skill-grid img{
    height: 100%;
    max-height: 200px;
    max-width: 50px;
    width: 100%;
    margin: auto;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFB74D;
}

.skill-grid:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media (max-width:768px) {
  .text{
    font-size: 12px;
  }

  .testimonial blockquote{
    font-size: 8px;
  }

  #skills, #experience, #portfolio{
    padding-bottom: 0;
  }
}

.g500{
  background-color: #009688;
}

/* ======================================= */
#experience{
  margin: 30px auto 30px auto;
}

.experience-container{
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 66% !important;
}

.experience-rect{
  position: relative;
  width: auto;
  margin-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2%;
}

.experience-rect img{
  height: auto;
  max-height: 300px;
  width: 100%;
  margin: auto;
}

.testimonial{
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center;
  backface-visibility: hidden;
  transition: transform 0.3s, opacity 0.3s;
}

.experience-rect .testimonial{
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  color: #fff;
}

.green{
  background: #00695C;
}

.experience-rect:hover .testimonial{
  opacity: 0.8;
  transform: translate(5px, 5px);
}

/* ===================================================== */

.sydney{
  margin: 20px auto;
}

.sydney img{
  display: block;
  height: 200px;
  width: 200px;
  margin: 5% auto 0 auto;
}

.cf h1, .sydney h1{
  text-align: center;
}

form {
   max-width: 600px;
   text-align: center;
   margin: 5% auto 5% auto;

  input, textarea {
     border:0; outline:0;
     padding: 1em;
     border-radius: 8px;
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     box-shadow: (0 1px 1px rgba(black, 0.1));
     resize: none;

    &:focus {
       box-shadow: 0 0px 2px rgba(red, 1) !important;
    }
  }

  #input-submit {
     color: white;
     background: #FFB74D;
     cursor: pointer;

    &:hover {
       box-shadow: 0 1px 1px 1px rgba(#aaa, 0.6);
    }
  }

  textarea {
      height: 126px;
  }
}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%;
}


@media (max-width: 480px) {
  .half {
     width: 100%;
     float: none;
     margin-bottom: 0;
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
